.rank-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(28, 112, 185, 1), rgba(41, 37, 114, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.rank-page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.rank-page__header__text {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.rank-page__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.rank-page__body__button__div {
  display: flex;
  justify-content: end;
}

.rank-page__body__button {
  background-color: rgba(0, 0, 0, .4);
  color: white;
  padding: 2vw;
  border-radius: 20%;

}

.rank-page__body__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rank-page__body__header__image {
  width: 150px;
  height: 150px;
}

.rank-page__body__header__contents {
  width: 150px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.rank-page__body__header__contents__rank {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.rank-page__body__header__contents__name {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.rank-page__body__header__money {
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.rank-page__body__others {
  width: 80vw;
  height: 82vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .4);
  overflow-y: scroll;
  padding: 5vw;
  z-index: 1;
}

.rank-page__body__others::-webkit-scrollbar {
  display: none;
}

.rank-page__body__others__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.rank-page__body__others__form__rank {
  width: 15%;
}

.rank-page__body__others__form__no-rank {
  width: 15%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.rank-page__body__others__form__profile {
  width: 30%;
}

.rank-page__body__others__form__info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rank-page__body__others__form__info__name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.rank-page__body__others__form__info__money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5vw;
  font-weight: bold;
  height: 8vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.252);
  color: white;
}

@media screen and (min-width: 1024px) {
  .rank-page__body__others__form__info__money {
    font-size: 2vw;
  }
}

.rank-page__body__others__form__info__money img {
  width: 40px;
  height: 40px;
}

.rank-page__body__others__form__info__money__nickname {
  color: rgba(245, 245, 245, 0.475);
}